button{
	/*width: 100px;*/
	font-size: 24px;
	margin: 5px;
	width: 100px;
	height: 100px;
	border-style:groove;
	color: gray;
	background:white;

}
#message{
	font-size: 48px;
	color:white;
	background: rgba(0,0,0,0.2);
	direction:rtl; 

	width:455px;
	height: 70px;
	margin-bottom: 10px;
	/*border-style:groove;*/

}
.bground{
	background:rgba(0,0,0,0.6);
	width:455px;
}
